@import "@styleguide/base";

.login-grid {
  display: grid;
  grid-template-rows: 2fr 5fr auto;
  @include media-breakpoint-down(md) {
    display: block;
  }

  .form-wrapper {
    grid-row: 2;
  }
  .footer-wrapper {
    grid-row: 3;
  }
}